<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>LIKE</button>
        </div>

        <div class="col-lg-9 mt-4">
            <h2>{{courses.name}}</h2>
            <img src="{{courses.image}}" alt="" />
            <p>{{courses.description}}</p>
        </div>
    </div>
</div>