html,
body {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  font-family: 'Courier New', arial;
  font-style: italic;
  color: #fff; }

body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased; }

#particles {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: -1000; }

.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; }

.header {
  position: absolute; }
  .header .header-bar {
    display: flex; }
    .header .header-bar .logo {
      position: fixed;
      z-index: 1000;
      left: 5rem;
      animation: logo 2s 0.2s; }

@keyframes logo {
  0% {
    transform: scale(0) translateX(-200px); }
  100% {
    transform: scale(1) translateX(0); } }
    .header .header-bar .menu {
      position: fixed;
      right: 5rem;
      z-index: 1000;
      text-align: right;
      cursor: context-menu; }
      .header .header-bar .menu .icon-menu-click {
        display: none;
        animation: menu-click 2s ease-in-out; }

@keyframes menu-click {
  0% {
    transform: rotate(360deg) translateY(100px); }
  50% {
    transform: rotate(0) txranslateY(0); }
  100% { } }
      .header .header-bar .menu .icon-menu {
        animation: menu 2s ease-in-out; }

@keyframes menu {
  0% {
    transform: rotate(-360deg) translateY(-100px); }
  50% {
    transform: rotate(0) txranslateY(0); }
  100% { } }

.nav {
  display: none;
  z-index: 10;
  position: relative;
  width: 0;
  padding-top: 11rem;
  height: 100vh;
  background: url("../img/img-bg-avatar.png") no-repeat;
  background-size: cover;
  line-height: 1;
  transition: width 1s ease-in-out; }
  .nav .nav-link {
    font-size: 10rem;
    animation: nav-link 1.5s;
    margin-left: 20rem;
    cursor: alias; }
    .nav .nav-link a {
      color: #fff;
      text-decoration: none; }
    .nav .nav-link:hover {
      text-decoration: underline solid #fff;
      transition: 1s ease-in-out; }
  .nav .nav-link:nth-child(2) {
    animation-delay: 0.2s; }
  .nav .nav-link:nth-child(3) {
    animation-delay: 0.4s; }
  .nav .nav-link:nth-child(4) {
    animation-delay: 0.6s; }

@keyframes nav-link {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(150px); }
  100% {
    transform: translateX(0); } }

.main {
  width: 100%;
  height: 100vh;
  margin-left: -5%; }
  .main .greeting {
    width: 70%;
    padding-top: 25%;
    line-height: 8; }
    .main .greeting #hello {
      font-size: 3.5rem;
      text-decoration: underline #fff solid;
      line-height: 1.8; }
    .main .greeting .viewProject {
      background-color: #0058ff;
      padding: 12px 15px;
      border-radius: 20px;
      color: #fff; }
      .main .greeting .viewProject:hover {
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid #fff;
        transition: 0.25s ease-in-out; }
    .main .greeting .social {
      width: 50%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin-left: -5%; }
      .main .greeting .social li:hover {
        transform: rotate(360deg) translateY(-10px);
        transition: 0.7s ease-in-out; }
  .main .avatar {
    position: absolute;
    bottom: 0;
    right: -3%;
    animation: avatar 9s ease-in-out; }

@keyframes avatar {
  0% {
    transform: translateX(700px); }
  50% {
    transform: translateX(0); } }

.about {
  position: relative; }
  .about .background {
    height: 100vh;
    font-size: 15rem;
    position: absolute;
    top: 30vh;
    left: 15vh;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.3); }
  .about .body {
    padding-top: 18%; }
    .about .body .row {
      font-size: 1.2rem;
      line-height: 1.8;
      margin-bottom: 10%; }
      .about .body .row .greeting {
        border-right: 1px dotted #fff; }
      .about .body .row .skills {
        line-height: 2.8; }
        .about .body .row .skills .text {
          cursor: pointer; }
          .about .body .row .skills .text span:hover {
            color: red; }

.project {
  position: relative; }
  .project .background {
    font-size: 15rem;
    position: absolute;
    top: 30vh;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    color: rgba(0, 0, 0, 0.3); }
  .project .body {
    padding-top: 15%; }
    .project .body .filter {
      padding-left: 1rem; }
    .project .body .project-list .item-icon {
      width: 50%; }
    .project .body .project-list .project-items:hover > .item-profile > .item-profile-icon {
      display: block; }
    .project .body .project-list .project-items:hover > .item-profile > .card-title {
      color: salmon; }
    .project .body .project-list .project-items:hover > .item-image {
      opacity: 0.3;
      transition: 0.3s ease-in-out; }
    .project .body .project-list .project-items .item-profile-icon {
      display: none; }

.contact {
  position: relative; }
  .contact .background {
    height: 100vh;
    font-size: 15rem;
    position: absolute;
    top: 30vh;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.3); }
  .contact .body {
    padding-top: 18%; }
    .contact .body input[type='text'],
    .contact .body textarea {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      border-bottom: 2px solid #000;
      color: #fff;
      font-size: 1.2rem;
      padding: 10px;
      outline: none; }
      .contact .body input[type='text']:focus,
      .contact .body textarea:focus {
        border: 2px solid #fff;
        transition: 0.25s ease-in-out; }
    .contact .body .btn-contact {
      border: 2px solid #000;
      height: 3rem;
      color: #fff;
      background-color: rgba(0, 0, 0, 0); }
      .contact .body .btn-contact:hover {
        border-color: #fff;
        color: red;
        transition: 0.3s ease-in-out; }
    .contact .body .profile {
      border: 2px solid #fff; }
      .contact .body .profile:hover {
        border-color: #28a745; }
      .contact .body .profile h4 {
        color: wheat; }
      .contact .body .profile a {
        text-decoration: none;
        color: #fff; }
