<div class="header p-5">
    <div class="header-bar">
        <a class="logo" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="81.718" height="87.333" viewBox="0 0 81.718 87.333">
                <g id="グループ_6" data-name="グループ 6" transform="translate(-187.388 -488.449)">
                    <path id="パス_1" data-name="パス 1"
                        d="M228.247,489.65h39.993l-20,34.635-20,34.635-20-34.635-20-34.635Z" fill="none"
                        stroke="#ffffff" stroke-width="1" />
                    <g id="グループ_2" data-name="グループ 2">
                        <g id="グループ_1" data-name="グループ 1">
                            <path id="パス_2" data-name="パス 2"
                                d="M238.534,490.442l14.027-.246q2.8-.08,2.8,1.89v3.977a38,38,0,0,0-.3,6.216,22.215,22.215,0,0,0,.3,3.4v4.061q0,1.824-1.4,1.824-1.5,0-1.5-1.808l.1-.165.4-4.766a37.328,37.328,0,0,0,.4-6q0-4.847-1.009-5.793t-6.05-.945H233.393q-2.622,0-3.228.534t-.6,2.917l.2,42.4a7.593,7.593,0,0,0,.8,4.109q1.1,1.479,4.2,1.478a28.106,28.106,0,0,0,3.1-.164c.533-.053,1.333-.082,2.4-.082q2.1,0,2.1,1.069t-2,1.068h-.3l-2.3-.164q-.9-.084-2.9-.165-4.7-.327-5.3-.328h-2.8c-.6,0-1.534.054-2.8.164l-2.5.164q-2.3.164-2.8.165l-2.2.164h-.4q-2.1,0-2.1-.986,0-1.151,2.2-1.151c1.132,0,1.965.029,2.5.082a29.893,29.893,0,0,0,3.1.164q3,0,4.1-1.642a9.615,9.615,0,0,0,.7-3.945l.2-6V495.62q0-2.547-.6-3.041t-3.5-.493h-11.9q-4.2,0-5.2.493-1.8.823-1.9,4.026-.1,2.385-.1,6,0,.906.1,2.383l.3,4.684q0,1.973-1.3,1.973-1.4,0-1.4-2.2V509.2l.3-4.563v-9.29l-.3-3.26q.1-2.136,3.306-2.137,1,0,5.112.165,8.214.33,22.944.328Z"
                                fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="3" />
                        </g>
                    </g>
                    <g id="グループ_4" data-name="グループ 4">
                        <g id="グループ_3" data-name="グループ 3">
                            <path id="パス_3" data-name="パス 3"
                                d="M214.029,533.259l-.279-.439v1.065l.14,1.689q.14,1.691.14,1.752v.126q0,1.314-.91,1.315-1.05,0-1.05-1.566v-.312q.279-3.817.28-7.386,0-3.066-.14-4.882t-.14-2.19q0-1.188,1.016-1.189.943,0,.944,1a13.533,13.533,0,0,1-.175,1.753,13.476,13.476,0,0,0-.175,1.815q0,5.946,3.92,9.262t10.99,3.318q6.369,0,10.22-3.036a9.672,9.672,0,0,0,3.85-7.98q0-6.946-7.14-8.449a44.183,44.183,0,0,0-6.72-.814q-15.75-1.063-15.75-10.764a10.252,10.252,0,0,1,4.235-8.356,16.574,16.574,0,0,1,10.6-3.348q7.7,0,11.55,4.255a8.873,8.873,0,0,1,1.61,2.942q.069-.812.07-1.752a13.292,13.292,0,0,0-.07-1.44l-.14-1.314v-.25q0-1.5.98-1.5t.98,1.126q0-.062-.28,2.253a48.547,48.547,0,0,0-.28,5.7q0,2.568.14,3.881.21,1.941.21,2.066,0,1.188-.91,1.189-1.05,0-1.05-1.252a12.126,12.126,0,0,1,.1-1.314,12.1,12.1,0,0,0,.105-1.315q0-5.569-3.43-8.7t-9.45-3.13a14.444,14.444,0,0,0-9.275,2.816,8.928,8.928,0,0,0-3.535,7.324,7.383,7.383,0,0,0,3.29,6.54q3.29,2.222,10.43,2.785a46.315,46.315,0,0,1,9.065,1.377,9.55,9.55,0,0,1,4.585,2.941,9.728,9.728,0,0,1,2.24,6.635,10.732,10.732,0,0,1-4.33,8.887q-4.332,3.379-11.385,3.38a23.26,23.26,0,0,1-8.765-1.565,12.963,12.963,0,0,1-5.832-4.256Z"
                                fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="3" />
                        </g>
                    </g>
                    <g id="グループ_5" data-name="グループ 5">
                        <path id="パス_4" data-name="パス 4"
                            d="M193.958,558.021l-2.5,3.633,4.88,3.365,1.292-1.874a.59.59,0,0,1,.311-.265.386.386,0,0,1,.46.317.583.583,0,0,1-.137.385l-1.728,2.509-7-4.827a.576.576,0,0,1-.262-.315.382.382,0,0,1,.315-.457.588.588,0,0,1,.385.137l.853.589,5.218-7.571-.854-.588a.591.591,0,0,1-.265-.311.358.358,0,0,1,.061-.3.354.354,0,0,1,.257-.163.589.589,0,0,1,.385.138l6.671,4.6-1.505,2.184a.6.6,0,0,1-.311.265.389.389,0,0,1-.461-.318.588.588,0,0,1,.137-.384l1.068-1.549-4.548-3.135-2.276,3.3,2.274,1.567.495-.717a.569.569,0,0,1,.315-.262.367.367,0,0,1,.3.063.359.359,0,0,1,.159.254.574.574,0,0,1-.133.388l-1.427,2.069a.575.575,0,0,1-.315.263.354.354,0,0,1-.293-.058.367.367,0,0,1-.167-.26.57.57,0,0,1,.133-.387l.495-.718Z"
                            fill="none" stroke="#ffffff" stroke-width="1" />
                        <path id="パス_5" data-name="パス 5"
                            d="M203.287,560.458l-.427,1.085a5.566,5.566,0,0,1,1.771-.518,3.369,3.369,0,0,1,1.48.247,3.444,3.444,0,0,1,1.357.937A2.642,2.642,0,0,1,208,563.4a2.364,2.364,0,0,1-.089,1.371l-1.775,4.517.606.238a.6.6,0,0,1,.329.243.381.381,0,0,1-.2.516.572.572,0,0,1-.408-.042l-1.921-.755a.579.579,0,0,1-.335-.25.355.355,0,0,1-.011-.3.36.36,0,0,1,.213-.217.609.609,0,0,1,.415.05l.6.234,1.728-4.4a1.822,1.822,0,0,0-.05-1.5,2.222,2.222,0,0,0-1.279-1.109,2.694,2.694,0,0,0-1.342-.2,7.119,7.119,0,0,0-2.045.838l-1.768,4.5.811.318a.6.6,0,0,1,.329.242.36.36,0,0,1,.009.3.365.365,0,0,1-.212.213.583.583,0,0,1-.408-.042l-2.34-.92a.573.573,0,0,1-.327-.246.361.361,0,0,1-.01-.3.353.353,0,0,1,.213-.217.589.589,0,0,1,.406.046l.811.318,2.339-5.952-.607-.238a.567.567,0,0,1-.326-.247.387.387,0,0,1,.2-.521.577.577,0,0,1,.408.042Z"
                            fill="none" stroke="#ffffff" stroke-width="1" />
                        <path id="パス_6" data-name="パス 6"
                            d="M216.572,565.775l.274-1.385,1.773.35a.57.57,0,0,1,.366.185.373.373,0,0,1,.062.3.361.361,0,0,1-.171.247.574.574,0,0,1-.408.031l-1.017-.2-1.492,7.552a2.841,2.841,0,0,1-.591,1.287,3.043,3.043,0,0,1-.882.676,3.957,3.957,0,0,1-1.037.422,2.857,2.857,0,0,1-1.143-.039l-2.142-.423a.59.59,0,0,1-.367-.179.356.356,0,0,1-.063-.3.373.373,0,0,1,.172-.256.572.572,0,0,1,.409-.031l2.167.437a2.232,2.232,0,0,0,1.27-.105,2.666,2.666,0,0,0,1.084-.824,2.1,2.1,0,0,0,.388-.924l.448-2.268a3.79,3.79,0,0,1-3.462,1.046,3.7,3.7,0,0,1-2.458-1.688,4.072,4.072,0,0,1,1.1-5.567,3.708,3.708,0,0,1,2.915-.621A3.8,3.8,0,0,1,216.572,565.775Zm-.45,2.278a3.13,3.13,0,0,0-.469-2.431,3.1,3.1,0,0,0-4.362-.856,3.3,3.3,0,0,0-.889,4.5,3.1,3.1,0,0,0,4.361.862A3.141,3.141,0,0,0,216.122,568.053Z"
                            fill="none" stroke="#ffffff" stroke-width="1" />
                        <path id="パス_7" data-name="パス 7"
                            d="M223.71,564.973l-.324,7.168,3.025.137a.609.609,0,0,1,.4.123.36.36,0,0,1,.107.286.356.356,0,0,1-.132.269.587.587,0,0,1-.408.092l-6.82-.309a.572.572,0,0,1-.389-.128.355.355,0,0,1-.106-.28.35.35,0,0,1,.131-.274.587.587,0,0,1,.4-.087l3.025.136.289-6.388-2.246-.1a.6.6,0,0,1-.393-.129.351.351,0,0,1-.112-.28.372.372,0,0,1,.132-.278.581.581,0,0,1,.408-.092Zm.151-3.952-.09,1.99-1.136-.052.09-1.989Z"
                            fill="none" stroke="#ffffff" stroke-width="1" />
                        <path id="パス_8" data-name="パス 8"
                            d="M229.894,564.983l.1,1.162a5.542,5.542,0,0,1,1.356-1.251,3.336,3.336,0,0,1,1.435-.439,3.417,3.417,0,0,1,1.632.235,2.63,2.63,0,0,1,1.007.829,2.354,2.354,0,0,1,.53,1.266l.422,4.835.649-.057a.591.591,0,0,1,.4.072.354.354,0,0,1,.143.268.359.359,0,0,1-.1.285.58.58,0,0,1-.383.144l-2.057.179a.592.592,0,0,1-.411-.074.364.364,0,0,1-.144-.264.358.358,0,0,1,.1-.289.611.611,0,0,1,.393-.141l.64-.055-.411-4.709a1.826,1.826,0,0,0-.714-1.323,2.228,2.228,0,0,0-1.639-.424,2.71,2.71,0,0,0-1.29.421,7.112,7.112,0,0,0-1.458,1.661l.421,4.818.868-.076a.585.585,0,0,1,.4.071.35.35,0,0,1,.143.269.357.357,0,0,1-.1.284.566.566,0,0,1-.383.143l-2.505.219a.573.573,0,0,1-.4-.075.36.36,0,0,1-.143-.264.351.351,0,0,1,.1-.289.588.588,0,0,1,.383-.14l.869-.076-.556-6.371-.649.057a.576.576,0,0,1-.4-.075.374.374,0,0,1-.143-.274.357.357,0,0,1,.1-.284.573.573,0,0,1,.383-.144Z"
                            fill="none" stroke="#ffffff" stroke-width="1" />
                        <path id="パス_9" data-name="パス 9"
                            d="M246.349,566.371l-7.631,1.857a3.724,3.724,0,0,0,1.786,2.044,3.82,3.82,0,0,0,2.743.272,6.284,6.284,0,0,0,1.69-.7,4.636,4.636,0,0,0,1.319-1.1.535.535,0,0,1,.262-.205.346.346,0,0,1,.277.051.378.378,0,0,1,.171.237.435.435,0,0,1-.071.328,4.115,4.115,0,0,1-1.318,1.2,6.845,6.845,0,0,1-2.148.933,4.535,4.535,0,0,1-3.52-.48,4.231,4.231,0,0,1-2.032-2.74,3.868,3.868,0,0,1,.527-3.093,4.256,4.256,0,0,1,2.707-1.895,4.184,4.184,0,0,1,3.314.464A4.288,4.288,0,0,1,246.349,566.371Zm-.942-.573a3.362,3.362,0,0,0-1.662-1.73,3.8,3.8,0,0,0-4.518,1.09,3.379,3.379,0,0,0-.685,2.31Z"
                            fill="none" stroke="#ffffff" stroke-width="1" />
                        <path id="パス_10" data-name="パス 10"
                            d="M255.387,562.537l-7.182,3.18a3.735,3.735,0,0,0,2.121,1.7,3.823,3.823,0,0,0,2.748-.219,6.242,6.242,0,0,0,1.537-.991,4.643,4.643,0,0,0,1.105-1.312.523.523,0,0,1,.221-.248.346.346,0,0,1,.282,0,.375.375,0,0,1,.21.2.432.432,0,0,1-.012.337,4.113,4.113,0,0,1-1.083,1.418,6.847,6.847,0,0,1-1.948,1.3,4.534,4.534,0,0,1-3.551.152,4.237,4.237,0,0,1-2.484-2.337,3.869,3.869,0,0,1-.03-3.138,4.261,4.261,0,0,1,2.329-2.345,4.189,4.189,0,0,1,3.344-.13A4.286,4.286,0,0,1,255.387,562.537Zm-1.029-.4a3.358,3.358,0,0,0-1.942-1.409,3.8,3.8,0,0,0-4.254,1.873,3.378,3.378,0,0,0-.264,2.4Z"
                            fill="none" stroke="#ffffff" stroke-width="1" />
                        <path id="パス_11" data-name="パス 11"
                            d="M257.01,556.479l1.141,1.576a12.934,12.934,0,0,1,.8-2.738,3.027,3.027,0,0,1,.889-1.126,2.048,2.048,0,0,1,1.309-.375c.5.019.8.093.891.222a.4.4,0,0,1,.077.3.4.4,0,0,1-.167.263.347.347,0,0,1-.146.065,1.275,1.275,0,0,1-.314-.027,2.323,2.323,0,0,0-.712-.029,1.045,1.045,0,0,0-.448.178,2.572,2.572,0,0,0-.748,1.04,18.074,18.074,0,0,0-.839,3.043l2.475,3.419,2.765-2a.6.6,0,0,1,.389-.151.352.352,0,0,1,.26.156.356.356,0,0,1,.065.293.59.59,0,0,1-.262.326l-4.9,3.546a.6.6,0,0,1-.381.146.346.346,0,0,1-.256-.149.34.34,0,0,1-.06-.279.6.6,0,0,1,.261-.32l1.509-1.092-3.767-5.2-1.152.833a.572.572,0,0,1-.384.143.371.371,0,0,1-.263-.161.364.364,0,0,1-.069-.29.572.572,0,0,1,.259-.323Z"
                            fill="none" stroke="#ffffff" stroke-width="1" />
                    </g>
                </g>
            </svg>
        </a>
        <div class="menu">
            <div class="icon-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="65.5" viewBox="0 0 88 65.5">
                    <g id="グループ_9" data-name="グループ 9" transform="translate(-1734.5 -47.5)">
                        <line class="stroke-1" data-name="線 1" x2="70" transform="translate(1750 50)" fill="none"
                            stroke="#fff" stroke-linecap="round" stroke-width="5" />
                        <line class="stroke-2" data-name="線 2" x2="70" transform="translate(1750 110.5)" fill="none"
                            stroke="#fff" stroke-linecap="round" stroke-width="5" />
                        <line class="stroke-3" data-name="線 3" x2="70" transform="translate(1737 80)" fill="none"
                            stroke="#fff" stroke-linecap="round" stroke-width="5" />
                    </g>
                </svg>
            </div>
            <div class="icon-menu-click">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                    <g id="多角形_1" data-name="多角形 1" transform="translate(0 70) rotate(-90)" fill="none"
                        stroke-linecap="round">
                        <path
                            d="M30.528,8.944a5,5,0,0,1,8.944,0l26.91,53.82A5,5,0,0,1,61.91,70H8.09a5,5,0,0,1-4.472-7.236Z"
                            stroke="none" />
                        <path
                            d="M 34.9999885559082 11.18032836914062 L 35 11.18034362792969 L 8.090160369873047 65 C 8.090164184570312 65 8.090167999267578 65 8.090171813964844 65 L 61.90982818603516 65 L 34.9999885559082 11.18032836914062 M 35.00000381469727 6.180343627929688 C 36.77541732788086 6.180343627929688 38.55082702636719 7.101654052734375 39.47213363647461 8.94427490234375 L 66.3819580078125 62.76393127441406 C 68.04421234130859 66.08843994140625 65.62673187255859 70 61.90982818603516 70 L 8.090171813964844 70 C 4.373252868652344 70 1.955772399902344 66.08843994140625 3.618026733398438 62.76393127441406 L 30.52786636352539 8.94427490234375 C 31.44918060302734 7.101654052734375 33.22459411621094 6.180343627929688 35.00000381469727 6.180343627929688 Z"
                            stroke="none" fill="#fff" />
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>
<ul class="nav">
    <li class="nav-link"><a href="/">HOME</a></li>
    <li class="nav-link"><a href="/about">ABOUT</a></li>
    <li class="nav-link"><a href="/project">PROJECT</a></li>
    <li class="nav-link"><a href="/contact">CONTACT</a></li>
</ul>

<script>
    $('.icon-menu').click(function () {
        $(this).css('display', 'none');
        $('.icon-menu-click').css('display', 'block');
        $('.nav').css({ 'display': 'block', 'width': '100%' });
    });

    $('.icon-menu-click').click(function () {
        $(this).css('display', 'none');
        $('.icon-menu').css('display', 'block');
        $('.nav').css({ 'width': '0', 'display': 'none' });
    });
</script>