<div class="about main-fluid">
    <div class="background">
        ABOUT
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-9 greeting">
                <div class="text-white">
                    &nbsp;&nbsp;&nbsp;Intern Web Developer specializing in front end development.
                    Well-versed in numerous programming languages including
                    HTML5, PHP, JavaScript, CSS, MySQL, SASS, Bootstrap 4…
                </div>
                <div class="text-white">
                    &nbsp;&nbsp;&nbsp;With the concept of “constantly improving yourself”.
                    I always learn, search, and improve the lines of code
                    to make them run better.
                </div>
            </div>

            <div class="col-md-3">
                <div class="text-white">
                    <p>Education:</p>
                    <p style="font-size: 0.6rem;">
                        * ECCコンピュータ専門学校WEBデザインコース２年生<br>
                        * 日本語能力試験N2合格 2018/07/…
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 skills">
                <div class="text-danger" style="font-size: 2rem; font-weight:bold;">
                    Skills
                </div>
                <div class="text">
                    <span>HTML5</span>/
                    <span>CSS3</span>/
                    <span>JavaScript</span>/
                    <span>PHP</span>/
                    <span>MySQL</span>.
                </div>
                <div class="text">
                    <span>ReactJS</span>/
                    <span>NodeJS</span>/
                    <span>MongoDB</span>.
                </div>
                <div class="text">
                    <span>SASS</span>/
                    <span>Bootstrap</span>.
                </div>
                <div class="text">
                    <span>SVG animation</span>.
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-body text-right" style="font-size: 0.7rem;">
                            <h4 class="card-title">Profile</h4>
                            <p class="card-text">Full Name: <span>Phạm Thế Sơn</span></p>
                            <p class="card-text">BirthDay: <span>1997/02/19 (25age)</span></p>
                            <p class="card-text">Tel: <span>080-8536-1866</span></p>
                            <p class="card-text">Address: <span>Shoji, Ikuno-ku, Osaka</span></p>
                            <p class="card-text">Email: <span>ptheson1902@gmail.com</span></p>
                            <p class="card-text">Social: <span>facebook.com/the.son.75/</span></p>
                            <p class="card-text">Github: <span>github.com/ptheson1902</span></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="img/img-profile-picture.png" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/script.js"></script>