<div class="contact main-fluid">
    <div class="background">
        CONTACT
    </div>
    <div class="body">
        <h2 class="mb-5">If you have a <span class="text-danger">Questions</span>, feel free email to me!</h2>
        <div class="row justify-content-between">
            <div class="col-md-7">
                <div class="row justify-content-between mb-5">
                    <input type="text" class="col-md-6" placeholder="Full Name">
                    <input type="text" class="col-md-5" placeholder="Company">
                </div>

                <div class="row justify-content-between mb-5">
                    <input type="text" class="col-md-5" placeholder="Telephone">
                    <input type="text" class="col-md-6" placeholder="Email">
                </div>

                <div class="row mb-5">
                    <textarea name="" id="" cols="100" rows="5" placeholder="Message"></textarea>
                </div>

                <div class="row justify-content-around">
                    <button class="col-md-4 btn-contact">Attach a file</button>
                    <button class="col-md-4 btn-contact">Send Message</button>
                </div>
            </div>
            <div class="col-md-3 profile pt-3">
                <h4>ADDRESS</h4>
                <p>Shoji, Ikuno-ku, Osaka, Osaka</p>

                <h4>SCHOOL</h4>
                <p>ECC College of Computer & Multimedia</p>

                <h4>TEL</h4>
                <p>(+81)080-8536-1866</p>

                <h4>EMAIL</h4>
                <p>ptheson1902@gmail.com</p>

                <h4>SOCIAL</h4>
                <p><a href="">Facebook </a>/ <a href=""> Github</a></p>
            </div>
        </div>
    </div>
</div>

<script src="js/script.js"></script>